body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* LINKS */
a {
  color: black !important;
}
a:hover {
  text-decoration: none !important;
}
/* AVATAR */
.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  background-image: url("img/rocky-avatar.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* BOX LINKS */
.box {
  width: 100%;
  padding: 0 5px 0 15px;
}
.box img {
  width: 45px;
}
.links {
  padding: 15px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}
.icon-img {
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  background-size: cover;
}
.link-media-1 {
}
.link-media-2 {
  background-image: url("img/twitter.png");
}
.link-media-3 {
  background-image: url("img/dribbble.png");
}
.box-links:hover {
  cursor: pointer;
  background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%);
}
